body{
    
    font-family: sans-serif;
    font-size: 14px;
    background: #eee;
    color: #666;
}

.login-container{
    height: 100vh;
    width: 100%;
}

.login-form{
    max-width: 100%;
    width: 470px;
    padding: 15px;
    margin: auto;
}
.form-control{
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}
.form-control:focus{
    border-color: #723dbe;
    box-shadow:0 0 0 0.2rem rgba(114,61,190,.25);
}

.login-form a{
    text-decoration: none;
    color: #666;
}
.login-form a:hover{
    color: #1811ed;
    
}
.adj{
    gap: 5px;
}